.digital-clock {
    padding-top: 5px;
    padding-bottom: 25px;
    background-color: rgb(215, 215, 215);
}
.clock-title{
    margin-bottom: 25px;
} 
.time {
    font-size: 40px;
    color: rgb(0, 0, 154);
    font-weight: bolder;
}
.date {
    font-size: 25px;
    margin-top: 20px;
    color: blue;
}
