#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}

.App {
    padding: 20px;
}

.title {
    margin-bottom: 30px;
}

.App > * {
    margin-bottom: 50px;
    margin-top: 50px;
}
