#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px;
    text-align: center;
    box-sizing: border-box;
}

.App {
    padding: 20px;
}


.App > * {
    margin-bottom: 60px;
    margin-top: 50px;
}

.main-title{
  margin: 0px;
  font-size: 2.5em;
  font-weight: 700;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  text-decoration: underline;
  text-decoration-color: #333;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  text-decoration-style: wavy;
  text-decoration: underline wavy #333 2px 0px 0px 0px 0px;
}
.title {
    text-align: center;
    font-size: 3rem !important;
    font-weight: bold;
    margin-top: 20px;
    padding: 0%;
    padding: 0% 0 0 0;
    color: #100f0fae;
    text-shadow: 2px 2px 4px #e1f81381;
}